body{
	background-color: #f4f4f4: 
	color:#555;
	font-family: Arial;
	font-size: 16px;
	line-height: 1.6em;
	margin:0;
}
.container{
	width: 80%;
	margin:auto;
	overflow:hidden;
}

#mainhead{
	background-color: #68e85d;
	color:#fff;
	
}
#navbar{
	background-color:#333;
}
#navbar ul{
	list-style: none;
	padding: 0;
}
#navbar li{
	display: inline;
}
#navbar a{
	color:white;
	text-decoration: none;
	padding-right: 15px;
	font-size: 18px;
}	
#navbar a:hover{
	color:#68e85d;
}	
#showcase{
	background-image: url("main.jpg");
	background-position:left center; 
	min-height:300px;
	margin-bottom: 90px;
	text-align: center;
	background-blend-mode:color-dodge;
}
#showcase h1{
	padding-top: 50px;
	font-size: 40px;
	color:#fff;
	line-height: 1.6em;
	
}
#main{
	float:left;
	width:70%;
	padding: 0 30px;
	box-sizing: border-box;


}
#sidebar{
	float:right;
	width:30%;
	padding: 0 30px;
	box-sizing: border-box;
	background-color: #333;
	color: #fff;
	border-radius: 10px 50px 10px 50px;
	padding-bottom: 10px;

}
#sidebar h3{
	text-align: center;
	padding-top: 10px;
	color: #68e85d;
}
#mainfooter{
	background-color: #333;
	color: #fff;
	text-align: center;
	padding:20px;
	margin-top: 40px;
}

@media(max-width: 700px){
	#main{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
	#navbar a{
	color:white;
	text-decoration: none;
	padding-right: 15px;
	font-size: 14px;
}	

}
.space{
	margin-top: 100px;
}

#mainhead h1:hover{
 color:black;
}
#mainhead a{
	color:white;
	text-decoration: none;
}